@font-face {
  font-family: "PT-Serif";
  src: url("./fonts/PT_Serif/PTSerif-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  //overflow: hidden;
  font-family: "PT-Serif";
  //font-size: 1rem;
  //font-weight: 400;
  //margin: 0px;

  background: #e8e7e7;
  //max-width: 800px;

  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input {
  border: none;
  background: transparent;
  font-size: 1em;
}
input:focus {
  outline: none;
  background-color: transparent;
}

input::placeholder {
  font-size: 1em;
}
h3 {
  margin-bottom: 20px;
}

// *,
// html * /* override x.xhtml.ru style */ {
//   scrollbar-width: thin;
//   scrollbar-color: #ffffff #2c3a6c;
// }

// *::-webkit-scrollbar,
// html *::-webkit-scrollbar {
//   height: 7px;
//   width: 7px;
// }
// *::-webkit-scrollbar-track,
// html *::-webkit-scrollbar-track {
//   background: #ffffff;
// }
// *::-webkit-scrollbar-thumb,
// html *::-webkit-scrollbar-thumb {
//   background-color: #2fa1f3;

//   border: 1px solid #fcfcfc;
// }

// /* this stuff below doesn't
//    affect scrollbar styling */
// html {
//   background: lightgrey;
//   overflow: hidden;
// }

// @media (min-width: 768px) {
//   body {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }
