.profile {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.avatar {
  display: flex;
  justify-content: center;
  > div {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    > img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
    }
  }
}

.data {
  font-weight: bold;
  > div {
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
.field {
  display: flex;
}

.input {
  margin-bottom: 15px;
  border-radius: 15px;
  border-bottom: 2px solid rgba(222, 173, 0, 0.57);
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  > div:first-child {
    margin-left: 10px;
  }
  > div:last-child {
    height: inherit;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}

.header {
  margin-top: 20px;

  text-align: left;
  > span {
    border-bottom: 1px solid rgba(222, 173, 0, 1);
    margin-bottom: 10px;
  }
}

.cities {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  > div {
    height: 40px;
    border-radius: 10px;
    border: 1px solid #1f49c2;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.currentCity {
  background-color: #1f49c2;
  color: #fff;
}

.description {
  margin-left: 20px;
}

.photos {
  display: flex;
  flex-wrap: wrap;

  //justify-content: space-around;
  padding-top: 15px;
  > img {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.containerNails {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.nails {
  border-radius: 10px 10px 10px 10px;

  width: 100px;
  display: flex;
  height: 40px;
  > div {
    border: 1px solid #1f49c2;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > div:first-child {
    background: #1f49c2;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
  }
  > div:last-child {
    width: 60px;
    border-radius: 0px 10px 10px 0px;
  }
}

.optionProfile {
  margin-top: 5px;
  height: 50px;
  background: #1f49c2;
  color: #fff;
  display: flex;
  align-items: center;
  > div {
    margin: 5px;
  }
  > div:first-child {
    border-bottom: 1px solid #fff;
  }
}
